# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.user
*.suo
*.ncb



**/debug/
**/release
/Debug
/Release

*.ini
*.sdf
*.opensdf
*.db
*.opendb
*.ncb
*.suo
*.user
*.aps
*.filters
**/debug/
**/release/
