# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.ncb
*.suo
*.user
*.aps
**/debug/
**/release/
lib

~*
*.ini
*.DS_Store